.game-title {
  text-align: center;
  font-size: 3em;
}

.main-menu {
  width: 250px;
  margin: auto;
  font-size: 2em;
  text-align: center;
}

.menu-item {
  border: 5px solid bisque;
  border-radius: 10px;
}